// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    12;
$main-md-columns:       12;
$sidebar-md-columns:    4;

// Colors
$brand-primary:         #aa170c;
$brand-secondary:		#dc8f32;

$font-stack: 'gentona-light', Arial, sans-serif;
$font-header: 'gentona-bold', Arial, sans-serif;
$global-color: #007A53;
$black: #2c2c33;
